
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Signin for ClosetXY</title>

  </head>

  <body> 

    <div class="jumbotron">
        <h1>Shopping from your closet</h1>
        <p>Shopping is made easier focusing on your closet and looks. </p><p>Friends and professionals are here to help you. </p>
        <p>
          <a class="btn btn-lg btn-primary"  role="button">Experience &raquo;</a>
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-4">
    
        <!-- <div class="container"> -->

          <form class="form-signin" method="POST" action="/login">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>

        <!-- </div> /container -->
      </div>
    </div>



  </body>
</html>
