<!DOCTYPE html>
<html>
<head>
  <title>closetXY</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  
  
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>
  <section id="content"></section>
  <section id="closet"></section>
  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Top</a></li>
    <li><a href="#tabs-2">Bottom</a></li>
    <li><a href="#tabs-3">Outerwear</a></li>
    <li><a href="#tabs-4">Accessory</a></li>
  </ul>
  <div id="tabs-1">
    <p></p>
  </div>
  <div id="tabs-2">
    <p></p>
  </div>
  <div id="tabs-3">
  	 <p></p>
  </div>
  <div id="tabs-4">
  	 <p></p>
  </div>
 
</div>
</body>
</html>

