  <form id="closet-item-add-form">
    <p>category <input type="text" name="closet_item[category]" value=""></p>
    <p>color <input type="text" name="closet_item[color]" value=""></p>
    <p>material <input type="text" name="closet_item[material]" value=""></p>
    <p>size <input type="text" name="closet_item[size]" value=""></p>
    <input type="submit" value="Create ClothingItem">
  </form>
