  <form id="closet-item-add-form" enctype="multipart/form-data">
    <p>category <input type="text" name="closet_item[category]" value=""></p>
    <p>color <input type="text" name="closet_item[color]" value=""></p>
    <p>material <input type="text" name="closet_item[material]" value=""></p>
    <p>size <input type="text" name="closet_item[size]" value=""></p>
    <p>image <input type="file" name="closet_item[image]" value=""> </p>
    <input type="submit" value="Create ClosetItem">
  </form>
