<button class="show-add-form">Add new</button>
<ul>
  {{#each users}}
    <li data-id="{{id}}">
      <span>{{name}}</span>
      <button class="edit">Edit</button>
      <button class="delete">Delete</button>
    </li>
  {{/each}}
</ul>