<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Shopping from your closet</h1>
        <p>Shopping is made easier focusing on your closet and looks. Friends and professionals are here to help you. </p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View your closet &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->